/ships/*
/landships/*
/buildings/*
/combats/
/saves/
/recordings/
/recordingsArchive/
/prefs.json
/log.txt
!/ships/ATA*
!/ships/CCC*
!/ships/FW*
!/ships/Emperor*
!/landships/FW*
!/landships/ATA*
!/landships/CCC*
